version: "3.0"
services:
  frontend:
    image: ${FRONTEND_REPOSITORY}:${FRONTEND_TAG}
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./wait-for-it.sh:/bin/wait-for-it.sh:ro
    depends_on:
      - molgenis
    ports:
      - 80:80
    command: ["/bin/wait-for-it.sh", "molgenis:8080", "--", "nginx", "-g", "daemon off;"]
  molgenis:
    image: ${MOLGENIS_REPOSITORY}:${MOLGENIS_TAG}
    environment:
      - molgenis.home=/home/molgenis
      - opencpu.uri.host=opencpu
      - elasticsearch.transport.addresses=elasticsearch:9300
      - db_uri=jdbc:postgresql://postgres/molgenis
      - db_user=molgenis
      - db_password=molgenis
      - admin.password=admin
      - MINIO_BUCKET_NAME=molgenis
      - MINIO_ENDPOINT=http://minio:9000
      - MINIO_ACCESS_KEY=molgenis
      - MINIO_SECRET_KEY=molgenis
      - "CATALINA_OPTS=-Xmx1g -XX:+UseConcMarkSweepGC -XX:+CMSClassUnloadingEnabled"
    ports:
      - "8080:8080"
    links:
      - postgres
      - elasticsearch
      - minio
    volumes:
      - app-data:/opt/molgenis
    depends_on:
      - elasticsearch
  postgres:
    image: postgres:11-alpine
    environment:
      - POSTGRES_USER=molgenis
      - POSTGRES_PASSWORD=molgenis
      - POSTGRES_DB=molgenis
    expose:
      - "5432"
    volumes:
      - db-data:/var/lib/postgresql/data
  elasticsearch:
      image: docker.elastic.co/elasticsearch/elasticsearch:5.5.3
      container_name: elasticsearch
      environment:
        - cluster.name=molgenis
        - bootstrap.memory_lock=true
        - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
        - xpack.security.enabled=false
        - discovery.type=single-node
      ulimits:
        memlock:
          soft: -1
          hard: -1
      volumes:
        - es-data:/usr/share/elasticsearch/data
      ports:
        - 9200:9200
        - 9300:9300
  minio:
    image: minio/minio:RELEASE.2019-03-20T22-38-47Z
    volumes:
      - minio-data:/data
    ports:
      - 9000:9000
    environment:
      MINIO_ACCESS_KEY: molgenis
      MINIO_SECRET_KEY: molgenis
    command: server /data
volumes:
    db-data:
    app-data:
    es-data:
    minio-data:
        driver: local